[Desktop Entry]
Type=Application
Exec=gnome-terminal --command "tmux"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_PH]=Tmux
Name=Tmux
Comment[en_PH]=Start `tmux` on terminal startup
Comment=Start `tmux` on terminal startup
