[Desktop Entry]
Type=Application
Exec=gnome-terminal --command "/usr/bin/xmodmap /home/devdesk4/.Xmodmap"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_PH]=Xmodmap
Name=gnome-terminal
Comment[en_PH]=Run xmodmap through `gnome-terminal`
Comment=Run xmodmap through `gnome-terminal`
