[Desktop Entry]
Type=Application
Exec=alacritty -e sh -c "tmux new-session -d -s main 2>/dev/null; tmux kill-session -at main 2>/dev/null; tmux attach -t main"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_PH]=Start Alacritty Terminal
Name=Start Alacritty Terminal
Comment[en_PH]=
Comment=
